@import url('https://fonts.googleapis.com/css?family=Abel|Asap|Varela+Round|Raleway+Dots|Quantico|Audiowide|Raleway|Barlow|Glegoo|Julius+Sans+One|Lato|Muli|Poiret+One|Sulphur+Point|Turret+Road&display=swap');
.Subcategories{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    background-color: rgb(240, 240, 240);
}
.Subcategories>button{
    font-size: small;
    font-family: "Asap";
    border-right: 1px solid black;
    border-left: 1px solid black;
    border-bottom: none;
    border-top: none;
    border-bottom: 2px solid  rgb(240, 240, 240);
    background-color:rgb(240, 240, 240);
    padding-left: 1%;
    padding-right: 1%;
    margin: .4%;
}
.Subcategories>button:hover{
    color: orange;
    border-bottom: 2px solid orange;
}
